<DOCTYPE html>
<head>
	<title>PolicyMic</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="http://localhost:3000/js/ejs.min.js"></script>
</head>
<body>
<!-- 	TABLE -->
	<table class="table" id="policymic-forum">
		<tr>
			<th>Unpublished Articles (<%=number%>)</th>
			<th>Author</th> 
			<th>
				<form id="sortby-words" action="/sort" method="POST">
					<button>Words</button>
				</form>
			</th>
			<th>
				<form id="sortby-submit" action="/sort" method="POST">
					<button>Submitted</button>
				</form>
			</th>
		</tr>
<!-- 		display rows in groups of ten, with first one visible-->
		<tbody class="ten-rows visible-rows">
			<%var art = articles.splice(0, 10);%>
			<%include ../public/templates/table.html.ejs%>
		</tbody>
		<%var groupLength = Math.ceil(articles.length/10);%>
		<%for (var a=1; a<=groupLength; a++) {%> 
			<tbody class="ten-rows hidden-rows" style="display:none;">
				<%var art = articles.splice(0, 10);%>
				<%include ../public/templates/table.html.ejs%>
			</tbody>
		<%}%>

<!-- 		make block of ten articles
		have them "unhide" by ten
		make template for each article
		when passing ejs from frontend, create loops on frontend -->
	</table>

<!-- 	LOAD MORE BUTTON -->
	<button id="load-more">Load More</button>
	<script src="http://localhost:3000/js/main.js"></script>
</body>
