<DOCTYPE html>
<head>
	<title>PolicyMic</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet" type="text/css">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="http://localhost:3000/js/ejs.min.js"></script>
</head>
<body>
<!-- 	TABLE -->
	<table class="table" id="policymic-forum">
		<tr id="table-titles">
			<th class="article-title">UNPUBLISHED ARTICLES (<%=number%>)</th>
			<th class="article-author">AUTHOR</th> 
			<th>
				<form class="article-words" id="sortby-words" action="/sort" method="POST">
					<button>WORDS</button>
				</form>
			</th>
			<th>
				<form class="article-submit-time" id="sortby-submit" action="/sort" method="POST">
					<button>SUBMITTED</button>
				</form>
			</th>
		</tr>
<!-- 		display rows in groups of ten, with first one visible-->
		<tbody class="ten-rows visible-rows">
			<%var art = articles.splice(0, 10);%>
			<%include ../public/templates/table.html.ejs%>
		</tbody>
		<%var groupLength = Math.ceil(articles.length/10);%>
		<%for (var a=1; a<=groupLength; a++) {%> 
			<tbody class="ten-rows hidden-rows" style="display:none;">
				<%var art = articles.splice(0, 10);%>
				<%include ../public/templates/table.html.ejs%>
			</tbody>
		<%}%>
	</table>

<!-- 	LOAD MORE BUTTON -->
	<button id="load-more">Load More</button>
	<script src="http://localhost:3000/js/main.js"></script>
</body>
