<DOCTYPE html>
<head>
	<title>PolicyMic</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="http://localhost:3000/js/ejs.min.js"></script>
</head>
<body>
<!-- 	TABLE -->
	<table class="table" id="policymic-forum">
		<tr>
			<th>Unpublished Articles (<%=number%>)</th>
			<th>Author</th> 
			<th>
				<form id="sortby-words" action="/sort" method="POST">
					<button>Words</button>
				</form>
			</th>
			<th>
				<form id="sortby-submit" action="/sort" method="POST">
					<button>Submitted</button>
				</form>
			</th>
		</tr>
		<%include ../public/templates/table.html.ejs%>
	</table>

<!-- 	LOAD MORE BUTTON -->
	<button id="load-more">Load More</button>
	<script src="http://localhost:3000/js/main.js"></script>
</body>
