/*general*/
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid rgb(234,233,233);
	text-align: left;
	padding: 10px;
}

tr:nth-child(odd) {
	background-color: rgba(249, 251, 249, 0.32);
	display: table-row;
}

tr:nth-child(even) {
	background-color: rgba(248, 247, 249, 0.68);
	display: table-row;
}

/*stylings by column*/
.article-title {
	width: 700px;
	color: #346371;
	font-size: 14px;
	font-weight: bold;
}

.article-author {
	width: 90px;
	color: rgb(52,99,113);
	font-size: 10px;
}

.article-words {
	text-align: center;
	width: 50px;
	color: black;
	font-size: 12px;
}

.article-submit-time {
	width: 90px;
	color: black;
	font-size: 12px;
}

/*title row*/
#table-titles {
	height: 55px;
	background-color: rgb(183,47,47);
	border-bottom: 2px solid red;	
}

#table-titles th {
	font-size: 11px;
	color: white;
	border: 1px solid rgb(144,40,40);
	box-shadow: inset 5px -29px 50px -14px #854646;
	-webkit-box-shadow: inset 5px -29px 50px -14px #854646;
	-moz-box-shadow: inset 5px -29px 50px -14px #854646;
	-o-box-shadow: inset 5px -29px 50px -14px #854646;
}

#table-titles button {
	background: none;
	border: none;
	padding: none;
	color: white;
	font-size: 11px;
	cursor: pointer;
	position: relative;
	top: 6px;
	left: -4px;
}

/*images*/
.article-img {
	height: 40px;
	width: 40px;
	border: 1px solid black;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	float: left;
	margin: 2px 10px 2px 2px;
}

/*load more button*/
#load-more {
	margin: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
